<!DOCTYPE html>
<html>
<%= flash[:errors] %>
<%= flash[:messages] %>
<br><br>

<% if session[:token] %>
  Logged in as: <%= current_user.user_name %>
  <br>
  <%= button_to "Logout", session_url, method: :delete %>
<% else %>
  <%= link_to "Log in", new_session_url %>
<% end %>

<head>
  <title>Cats99</title>
  <!-- <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
