<!DOCTYPE html>
<html>

<head>
  <title>MusicApp</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:error] %><br>
	<% if session[:token] %>
		<%= button_to "Logout", session_url, method: :delete %>
	<% else %>
		<%= link_to "Sign In", new_session_url, method: :get %>
	<% end %>

<%= yield %>

</body>
<br>
<% if session[:token] %>
	<%= link_to "All Bands", bands_url %>
<% end %>
</html>
